<h3>*NgFor</h3>
<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>

<h3>*NgFor For Object Render</h3>
<div *ngIf="objArray.length > 0; then data; else noData"></div>

<ng-template #data>
  <table>
    <th>Array Index</th>
    <th>ID</th>
    <th>Post</th>
    <th>Action</th>

    <tr *ngFor="let post of objArray; let i = index">
      <td>{{ i }}</td>
      <td>{{ post.id }}</td>
      <td>{{ post.postTitle }}</td>
      <td><button (click)="deleteDate(i)">Delete</button></td>
    </tr>
  </table>
</ng-template>
<ng-template #noData>
  <h1>No Data available</h1>
</ng-template>

<br /><br />

<h1>Change Detection</h1>
<button (click)="addNewObject()">Add New object</button>


<h2>ngSwitch</h2>

<div>
  <button (click)="stepForm('step 1')">Step 1</button>
  <button (click)="stepForm('step 2')">Step 2</button>
  <button (click)="stepForm('step 3')">Step 3</button>
</div>

<div [ngSwitch]="stepVariable">
<div *ngSwitchCase="'step 1'"><ng-container *ngTemplateOutlet="step1"></ng-container></div>
<div *ngSwitchCase="'step 2'"><ng-container *ngTemplateOutlet="step2"></ng-container></div>
<div *ngSwitchCase="'step 3'"><ng-container *ngTemplateOutlet="step3"></ng-container></div>
<div *ngSwitchDefault><ng-container *ngTemplateOutlet="stepdefault"></ng-container></div>

<ng-template #step1>Step 1 I clicked</ng-template>
<ng-template #step2>Step 2 I clicked</ng-template>
<ng-template #step3>Step 3 I clicked</ng-template>
<ng-template #stepdefault>Something else</ng-template>
</div>

<h1>Ng-Style</h1>

<h1 [ngStyle]="{
  color:isActive? 'red':'green',
  textTransform:isActive? 'uppercase':'lowercase'
}">This is Ng-Style</h1>


<h1>Ng-Class</h1>

<h1 [ngClass]="{'.main':isActive,'.textChange':isActive}"> This is Ng-Class</h1>