<h1>Pipes</h1>
<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{count|number}}</h1>
<h1>{{dc}}</h1>
<h1>{{dc| number:'1.2-2'}}</h1>
<h1>{{dc| number:'2.2-2'}}</h1>
<h1>{{dc| number:'2.1-2'}}</h1>

<h1>Currency</h1>
<h3>{{price}}</h3> <!--99.99985-->
<h3>{{price|currency}}</h3>  <!--$100.00-->
<h3>{{price|currency:'CAD'}}</h3> <!--CA$99.99-->
<h3>{{price|currency:'JPY'}}</h3> <!--¥100-->
<h3>{{price|currency:'INR'}}</h3> <!--₹99.99-->
<h3>{{price|currency:'USD':false}}</h3> <!--USD99.99-->
<h3>{{price|currency:'USD':false:'1.2-3'}}</h3> <!--USD100.00-->


<h1>Dates Pipe</h1>
<h3>{{today}}</h3>  <!--Mon Aug 21 2023 00:54:17 GMT+0530 (India Standard Time)-->
<h3>{{today|date}}</h3> <!--Aug 21, 2023-->
<h3>{{today|date: 'short'}}</h3> <!--8/21/23, 12:54 AM-->